<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.aone.safari.GitHubCounter</string>
       <key>Developer Identifier</key>
       <string>4FG648TM2A</string>
       <key>CFBundleVersion</key>
       <string>1.1.0</string>
       <key>CFBundleShortVersionString</key>
       <string>26</string>
       <key>URL</key>
       <string>https://github.com/aonez/GitHubCounter/releases/download/v1.0.1/GitHubCounter.safariextz</string>
     </dict>
   </array>
</dict>
</plist>